.bento { 
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 35rem;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}


.section1 {
    grid-column: span 10;
}
.section2 {
    grid-column: span 4 / span 4;
}
.section3 {
    grid-column: span 10;
}
.section4 {
    grid-column: span 10;
}
  
  @media (min-width: 768px) { /* Punto de quiebre para 'md' en Tailwind */
    .section1 {
      grid-column: span 4;
    }
    .section2 {
        grid-column: span 6  / span 6;
      }
    .section3 {
        grid-column: span 6 /span 6;
      }
    .section4 {
        grid-column: span 4;
      }  
  }


.imgContainer { 
    position: absolute; /* Equivale a 'absolute' */
    left: 0; /* Equivale a 'left-0' */
    top: 0; /* Equivale a 'top-0' */
    bottom: 0; /* Equivale a 'bottom-0' */
    object-fit: cover; /* Equivale a 'object-cover' */
    object-position: center; /* Equivale a 'object-center' */
    width: 100%;
    height: 100%;
    z-index: -1;
}

